/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header .head-row h1 {
    font-size: 40px !important;
  }
  footer .bottom-part p:last-child {
    text-align: left !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
html, body {
  overflow-x: hidden;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 100vh;
  background-color: #121117;
}

header .nav-row {
  width: 100%;
  height: 10vh;
}

header .nav-row .navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
}

header .nav-row .navbar ul li {
  list-style: none;
}

header .nav-row .navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header .nav-row .right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-row .right-nav button {
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  transition: .5s;
}

header .nav-row .right-nav button:hover {
  cursor: pointer;
  background: #4528dc;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  border: 2px solid transparent;
}

header .nav-row .right-nav .open-search:hover {
  cursor: pointer;
}

header .nav-row .right-nav #openMenu:hover {
  cursor: pointer;
}

header .head-row {
  width: 100%;
  height: 90vh;
}

header .head-row .head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .head-row .head-content .content-p {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  position: relative;
}

header .head-row .head-content .content-p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

header .head-row .head-content .content-p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

header .head-row .head-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

header .head-row .head-content p {
  color: #8E8E8E;
  font-size: 20px;
}

header .head-row .head-content .head-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
  position: relative;
}

header .head-row .head-content .head-btns button {
  padding: 12px 34px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  transition: .5s;
}

header .head-row .head-content .head-btns button:hover {
  cursor: pointer;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  border: 2px solid transparent;
}

header .search-box {
  width: 350px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -350px;
  background-color: #09080D;
  z-index: 30;
  padding: 30px;
}

header .search-box .search-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .search-box .search-head p {
  color: #8E8E8E;
  font-size: 20px;
  font-weight: bold;
}

header .search-box .search-head a {
  color: #8E8E8E;
}

header .search-box .search-head a:hover {
  cursor: pointer;
  color: #8E8E8E;
}

header .search-box .search-content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .search-box .search-content h2 {
  font-size: 40px;
  color: white;
  margin: 0;
}

header .search-box .search-content p {
  margin: 20px 0;
  font-size: 17px;
  color: #8E8E8E;
}

header .search-box .search-content form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .search-box .search-content form input {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #8E8E8E;
  margin-bottom: 10px;
  color: white;
}

header .search-box .search-content form input:focus {
  outline: none;
}

header .search-box .search-content form button {
  padding: 10px 15px;
  font-weight: bold;
  width: 120px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  transition: .5s;
}

header .search-box .search-content form button:hover {
  cursor: pointer;
  background: #4528dc;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  border: 2px solid transparent;
}

header .toggle-menu {
  max-width: 450px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -450px;
  background-color: #09080D;
  z-index: 30;
  padding: 30px;
}

header .toggle-menu .toggle-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .toggle-menu .toggle-head p {
  color: #8E8E8E;
  font-size: 20px;
  font-weight: bold;
}

header .toggle-menu .toggle-head #closeMenu {
  color: #8E8E8E;
}

header .toggle-menu .toggle-head #closeMenu:hover {
  cursor: pointer;
  color: #8E8E8E;
}

header .toggle-menu .toggle-content {
  width: 300px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .toggle-menu .toggle-content ul {
  padding: 0;
}

header .toggle-menu .toggle-content ul li {
  list-style: none;
  margin: 10px 0;
}

header .toggle-menu .toggle-content ul li a {
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  color: white;
  transition: .2s;
}

header .toggle-menu .toggle-content ul li a:hover {
  color: #4528DC;
}

header .head-fig {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.slider-section {
  width: 100%;
  min-height: 100vh;
  background-color: #09080D;
  padding: 50px 0;
}

.slider-section .slick-list {
  margin: 0 -20px;
}

.slider-section .slick-track {
  display: flex;
  height: 80vh;
  align-items: center;
}

.slider-section .slick-track .slick-slide {
  height: auto;
  margin: 0 20px;
}

.slider-section .slickSlider {
  padding: 100px 0;
}

.slider-section .slickSlider .content-p {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.slider-section .slickSlider .content-p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

.slider-section .slickSlider .slider-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-section .slickSlider .slider-head h3 {
  color: white;
  font-weight: bold;
}

.slider-section .slickSlider .slider-head p {
  font-size: 17px;
  font-weight: bold;
  color: white;
  transition: .2s;
}

.slider-section .slickSlider .slider-head p:hover {
  color: #4528DC;
  cursor: pointer;
}

.slider-section .slick-dots {
  bottom: -40px;
}

.slider-section .slick-dots li {
  margin: 0 15px;
}

.slider-section .slick-dots li button:before {
  content: "";
  height: 5px;
  width: 40px;
  background-color: #8E8E8E;
  transition: .2s;
}

.slider-section .slick-dots .slick-active button:before {
  background-color: #4528DC;
  opacity: 1;
  color: #8E8E8E;
}

.slideContent {
  background: #16151A;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: .3s;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.12);
}

.slideContent:hover {
  transform: translateY(-5px);
}

.slideContent .slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideContent .slide-img .slideImg {
  max-width: 90%;
  border-radius: 10px;
}

.slideContent .counter {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.slideContent .counter .days, .slideContent .counter .hours, .slideContent .counter .minutes, .slideContent .counter .seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slideContent .counter .days p, .slideContent .counter .hours p, .slideContent .counter .minutes p, .slideContent .counter .seconds p {
  color: white;
  margin: 0%;
  font-size: 15px;
}

.slideContent h5 {
  margin-bottom: 15px;
  color: white;
  transition: .2s;
}

.slideContent h5:hover {
  color: #4528DC;
  cursor: pointer;
}

.slideContent .author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.slideContent .author-info .avatarImg {
  max-width: 25%;
  border-radius: 50% 50%;
  margin-right: 10px;
}

.slideContent .author-info p {
  font-size: 18px;
  cursor: pointer;
  color: white;
  margin: 0;
  transition: .2s;
}

.slideContent .author-info p:hover {
  color: #4528DC;
}

.slideContent .btm-info {
  display: flex;
  justify-content: space-between;
}

.slideContent .btm-info p {
  color: white;
}

.artists {
  width: 100%;
  min-height: 50vh;
  background-color: #09080D;
  padding-bottom: 50px;
}

.artists .art-head .content-p {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.artists .art-head .content-p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

.artists .art-head .content-p:after {
  left: 150px;
}

.artists .art-head h3 {
  color: white;
  font-weight: bold;
}

.artist-card {
  height: 140px;
  background: #16151A;
  border-radius: 10px;
  padding: 20px;
}

.artist-card .art-card-cont {
  display: flex;
  align-items: center;
}

.artist-card .art-card-cont img {
  max-width: 25%;
  border-radius: 50% 50%;
  margin-right: 20px;
}

.artist-card .art-card-cont p {
  margin: 0;
  color: #8E8E8E;
}

.artist-card .art-card-cont .email-p {
  font-size: 18px;
  cursor: pointer;
  transition: .2s;
  font-weight: bold;
  margin: 5px 0;
  color: white;
}

.artist-card .art-card-cont .email-p:hover {
  color: #4528DC;
}

.collections {
  width: 100%;
  min-height: 50vh;
  background-color: #09080D;
  padding: 50px 0;
}

.collections .collect-head {
  margin: 0 0 20px 0;
}

.collections .collect-head .content-p {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.collections .collect-head .content-p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

.collections .collect-head .content-p::after {
  left: 150px;
}

.collections .collect-head .head-coll {
  display: flex;
  justify-content: space-between;
}

.collections .collect-head .head-coll h3 {
  font-weight: bold;
  color: white;
}

.collections .collect-head .head-coll p {
  font-size: 17px;
  color: white;
  transition: .2s;
  cursor: pointer;
  font-weight: bold;
}

.collections .collect-head .head-coll p:hover {
  color: #4528DC;
}

.collection-card {
  min-height: 200px;
  background: #16151A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.collection-card .collectImg {
  max-width: 70%;
  border-radius: 10px;
}

.collection-card .avatar {
  transform: translateY(-50%);
  border-radius: 50% 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.collection-card .avatar:hover {
  box-shadow: 0 5px 10px #0e318b;
}

.collection-card .avatar:hover + .collect-name {
  color: #4528DC;
}

.collection-card .avatar .avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95px;
  width: 95px;
  border: 3px solid rgba(255, 255, 255, 0.12);
  border-radius: 50% 50%;
}

.collection-card .avatar .avatar-img img {
  max-width: 90%;
  border-radius: 50% 50%;
}

.collection-card .avatar .avatar-img img::after {
  content: '';
  width: 50%;
  height: 50%;
  background: transparent;
  border: 2px solid #8E8E8E;
}

.collection-card p {
  transform: translateY(-30px);
  margin: 10px;
  color: #8E8E8E;
}

.collection-card .collect-name {
  color: white;
  font-weight: bold;
  margin: 0;
  transition: .3s;
  cursor: pointer;
  font-size: 18px;
}

.assets {
  width: 100%;
  min-height: 50vh;
  background-color: #09080D;
  padding: 50px 0;
}

.assets .assets-head .content-p {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.assets .assets-head .content-p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

.assets .assets-head .content-p::after {
  left: 165px;
}

.assets .assets-head .assets-header {
  display: flex;
  justify-content: space-between;
}

.assets .assets-head .assets-header h3 {
  font-weight: bold;
  color: white;
}

.assets .assets-head .assets-header p {
  color: white;
  font-size: 17px;
  transition: .2s;
  font-weight: bold;
}

.assets .assets-head .assets-header p:hover {
  cursor: pointer;
  color: #4528DC;
}

.assets .assets-content-2 button {
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  transition: .5s;
}

.assets .assets-content-2 button:hover {
  cursor: pointer;
  background: #4528dc;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  border: 2px solid transparent;
}

.asset-card {
  min-height: 300px;
  background-color: #16151A;
  padding: 20px;
  border-radius: 10px;
  transition: .3s;
}

.asset-card:hover {
  transform: translateY(-5px);
}

.asset-card .asset-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.asset-card .asset-img img {
  max-width: 85%;
  border-radius: 10px;
  cursor: pointer;
}

.asset-card h5 {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  transition: .4s;
  cursor: pointer;
}

.asset-card h5:hover {
  color: #4528DC;
}

.asset-card p {
  margin: 20px 0;
  color: #8E8E8E;
  font-weight: bold;
}

.asset-card p a {
  color: white;
  transition: .2s;
  text-decoration: none;
}

.asset-card p a:hover {
  color: #4528DC;
}

.asset-card .eth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.asset-card .eth p {
  color: white;
  margin: 0;
  font-weight: normal;
}

.asset-card button {
  font-weight: bold;
  margin-top: 20px;
  padding: 7px 20px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  transition: .5s;
}

.asset-card button:hover {
  cursor: pointer;
  background: #4528dc;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  border: 2px solid transparent;
}

.article {
  width: 100%;
  min-height: 50vh;
  background-color: #09080D;
  padding: 50px 0;
}

.article .article-head p {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.article .article-head p:after {
  content: "";
  width: 50px;
  height: 3px;
  background: linear-gradient(150deg, #4528dc 0%, #57048a 100%);
  position: absolute;
  top: 50%;
  left: 100px;
}

.article .article-head p:after {
  left: 150px;
}

.article .article-head h3 {
  color: white;
  font-weight: bold;
}

.article-card .card-icon {
  font-size: 40px;
  color: #57048A;
}

.article-card h4 {
  color: white;
  font-weight: bold;
  margin: 20px 0;
}

.article-card p {
  color: #8E8E8E;
}

footer {
  width: 100%;
  min-height: 70vh;
  background: #121117;
  padding: 100px;
}

footer .first-c {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .first-c img {
  max-width: 15%;
  cursor: pointer;
}

footer .first-c p {
  color: #8E8E8E;
  font-size: 18px;
}

footer .first-c .social-i {
  display: flex;
  justify-content: flex-start;
}

footer .first-c .social-i a {
  margin-right: 20px;
  padding: 15px;
  border-radius: 5px;
  background: #222;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .second-c, footer .third-c {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .second-c p, footer .third-c p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

footer .second-c ul, footer .third-c ul {
  list-style: none;
  padding: 0;
}

footer .second-c ul li, footer .third-c ul li {
  margin: 7px 0;
}

footer .second-c ul li a, footer .third-c ul li a {
  text-decoration: none;
  color: #8E8E8E;
  font-size: 18px;
}

footer .fourth-c {
  height: 30vh;
}

footer .fourth-c p {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

footer .fourth-c form {
  width: 100%;
  position: relative;
}

footer .fourth-c input {
  width: 80%;
  padding: 15px 0 15px 25px;
  background: #191919;
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
}

footer .fourth-c input:focus {
  outline: none;
}

footer .fourth-c button {
  width: 20%;
  padding: 15px 0;
  border: none;
  border-radius: 100px 0 0 100px;
  position: absolute;
  left: 60%;
  color: white;
  background: linear-gradient(150deg, #57048a 0%, #4528dc 78%);
}

footer hr {
  position: relative;
  top: 10vh;
  color: #8E8E8E;
}

footer .bottom-part {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10vh;
}

footer .bottom-part p {
  color: #8E8E8E;
}

footer .bottom-part p:last-child {
  text-align: right;
}
